{% extends 'siricweb/Base/base.html' %}
{% load staticfiles %}
{% block content %}
    <div id="page-wrapper">
        </br>
        <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">Eliminar tipo de cultivo</h1>
                </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Datos tipo de cultivo
                        <a href="{% url 'listarTipoCultivo' %}" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></a>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post">
                             {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                         <div class="alert alert-danger alert-dismissable fade in" role="alert">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Error!</strong> campo {{field.label}} {{ field.errors }} 
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                             {% if messages %}
                            {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissable fade in">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong> {{ message }}.
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% csrf_token %}
                            <br/>
                            <h3>¿Desea eliminar el registro de {{object.nombre_cultivo}}? </h3>
                            <div class="row">
                                <div class="col-md-8">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-danger">Sí, eliminar</button>
                                             <a href="{% url 'listarTipoCultivo' %}" class="btn btn-default">
                                                Cancelar
                                            </a>
                                        </div>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    <!-- jQuery -->
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/jquery/jquery.min.js" %}"> </script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/bootstrap/js/bootstrap.min.js" %}"> </script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/metisMenu/metisMenu.min.js" %}"></script>

        <!-- Custom Theme JavaScript -->
         <script src="{% static "SIRICWEB/publigns/startbootstrap/dist/js/sb-admin-2.min.js" %}"></script>

{% endblock content %}