{% extends 'siricweb/Base/base.html' %}
{% load staticfiles %}
{% block content %}
     <div id="page-wrapper">
        </br>
        <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">Predios</h1>
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-md-8">
                     <a href="{% url 'registrarPredio' %}" class="btn btn-success">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar nuevo predio
                    </a>
                </div>
        </div>
        </br>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Predios registrados
                            <a href="{% url 'index' %}" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></a>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-predio">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Cédula catastral</th>
                                        <th>Matrícula inmobiliaria</th>
                                        <th>Área total (ha)</th>
                                        <th>Área cultivada (ha)</th>
                                        <th>Área beneficiada (HA)</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

        <!-- jQuery -->
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/jquery/jquery.min.js" %}"> </script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/bootstrap/js/bootstrap.min.js" %}"> </script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/metisMenu/metisMenu.min.js" %}"></script>

        <!-- DataTables JavaScript -->
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/datatables/js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/datatables-plugins/dataTables.bootstrap.min.js" %}"></script>
        <script src="{% static "SIRICWEB/publigns/startbootstrap/vendor/datatables-responsive/dataTables.responsive.js" %}"></script>

        <!-- Custom Theme JavaScript -->
         <script src="{% static "SIRICWEB/publigns/startbootstrap/dist/js/sb-admin-2.min.js" %}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
   <script>
    $(document).ready(function() {

    var idioma_espanol = {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar: ",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
    }    
 var table = $('#dataTables-predio').dataTable( {
            language:  idioma_espanol,
            stateSave: true,
            responsive: true,
             "processing": true,
             "ajax": {
                 "processing": true,
                 "url": "{% url 'datos' %}",
                 "dataSrc": ""
             },

             "columns": [
                     { "data": "pk" },
                     { "data": "fields.cedula_catastral" },
                     { "data": "fields.matricula_inmobiliaria" },
                     { "data": "fields.area_total" },
                     { "data": "fields.area_cultivada" },
                     { "data": "fields.area_beneficiada" },
                     { "data": "pk" , }
                     
                 ],
             "aoColumnDefs": [ {
                "aTargets": [6],
                "mData": "pk",
                "mRender": function (data,type,row,meta) {
                    return '  <a href="/SIRICWEB/modificarPredios/'+data+'" class="btn btn-info btn-xs">Editar</a> '+' <a href="/SIRICWEB/registroPredioPropietario/'+data+'" class="btn btn-success btn-xs">Asignar Propietarios</a> '+' <a href="/SIRICWEB/registroPredioCultivo/'+data+'" class="btn btn-warning btn-xs">Asignar Cultivo</a> '+' <a href="/SIRICWEB/registroPredioCanal/'+data+'" class="btn btn-primary btn-xs">Asignar Canal</a>' +' <a href="/SIRICWEB/registroPredioZona/'+data+'" class="btn btn-default btn-xs">Asignar Zona</a>';
                }
                                 } ]
     } );
} );


    </script>

{% endblock content %}